*.DS_Store
*.pyc
*.pth
*.png
tmp.py
.venv/
data/
wandb/
artifacts/
TMP/
venv/
scripts_hpc/output/
scripts_sh/output/
scripts_sh/debug/output/
scripts_sh/**/*.toml
dist/
config/test_code/
config/test_code_FL/
config/demnet_wandb
config/test_code
config/vgg_finetuning
