flwr==1.17.0
flwr-datasets==0.5.0
grad-cam==1.5.5
ipython==9.1.0
kagglehub==0.3.11
matplotlib==3.10.1
matplotlib-inline==0.1.7
nibabel==5.3.2
numpy==2.2.4
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.1.0
plotly==6.0.1
pydicom==3.0.1
ray==2.31.0
referencing==0.36.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==78.1.0
toml==0.10.2
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
wandb==0.19.9
